<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File</title>
</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
    </ul>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="formFileMultiple" class="form-label">Multiple files input example</label>
        <input name="myfile" class="form-control" type="file" id="formFileMultiple"/>

        <button type="submit">Upload</button>
    </form>
</body>
</html>